.container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;
    /* grid-auto-rows: minmax(200px, auto); */
    /* grid-template-rows: repeat(3, 1fr); */
}

.item { 
    background-color: green;
    color: #fff;
    font-size: 20px;
    border: 1px solid yellowgreen;
}